---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>一个普通的代码爱好者，有改变世界的宏伟理想，享受用代码解决问题的过程。</p>
  <p>
    看到优雅代码会心跳加速，遇到开源项目会手痒贡献，碰到技术难题会熬夜死磕。<br />
    能用代码解决的问题，尽量不手动解决（虽然经常制造新问题）。
  </p>
  <p>
    开源世界的"点赞收藏党"，博客圈的"佛系更新者"。<br />
    擅长技能：把简单需求复杂化，再把复杂问题简单化（循环往复）。
  </p>
  <p>
    My motto: Devoted to the ideal, focused on the present. <Spoiler>执着于理想，纯粹于当下</Spoiler
    >
  </p>
  <!-- <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' /> -->

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>魔方入门级玩家，已掌握2-5阶魔方复原，更多种类魔方持续摸索中</li>
    <li>骑行爱好者，单日最长骑行80公里，月总骑行距离120公里</li>
    <li>打字竞速选手，双拼重度用户，平均速度 54WPM/298KPM</li>
    <li>以及更多等待发掘的乐趣……</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>以下是我正在使用的一些工具：</p>
  <!-- <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  /> -->
  <!-- <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      }
    ]}
  /> -->
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <!-- <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Sonoma',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Rog Strix G15',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  /> -->

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>你可以在以下平台找到我：</p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/tecladochen',
        text: 'followers',
        api: 'github/tecladochen'
      },

      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/tecladochen',
        text: 'games',
        api: 'steamgames/76561199104545875'
      }
    ]}
  />

  {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Why called teclado?'>
    teclado
    在葡萄牙语中是“键盘”的意思。都说使用计算机可以没有鼠标，但不能没有键盘。键盘是计算机的一种不可或缺的输入设备，也是我们创造和表达的工具载体。所以使用
    teclado 作为我的昵称，寓意对编程和创造的热爱。
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2021-04-22',
        content: '初次接触博客，使用 Hexo 框架，以及 Butterfly 主题，部署在 Github Pages 上'
      },
      {
        date: '2023-10-24',
        content: '购买人生第一个域名 ilovejie.com'
      },
      {
        date: '2024-02-19',
        content: '博客迁移至阿里云服务器，采用 Wordpress 框架，使用 Puock 主题'
      },
      {
        date: '2025-06-06',
        content: '购买域名 teclado.cn'
      },
      {
        date: '2025-06-08',
        content: '博客迁移至 Vercel 平台，采用 Astro 框架，使用 Astro Theme Pure 主题'
      }
    ]}
  />
  <p>本站基于以下项目/服务提供商的资源和技术支持：</p>
  <ul>
    <li>域名：<a href='https://aliyun.com' target='_blank'>AliCloud</a></li>
    <li>
      框架 & 主题：<a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      站点托管：<a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>

    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>评论系统：<a href='https://waline.js.org' target='_blank'>Waline</a></li>

    <li>
      相关统计：<a href='https://github.com/spencerwooo/substats' target='_blank'>Substats</a>
    </li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
